body {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30) !important;
}

p {
    font-size: 0.8rem !important;
}

@media (min-width: 768px) {
    p {
        font-size: 1.1rem !important;
    }
}

h1 {
    font-weight: bold !important;
    text-align: center;
    font-size: 1.2rem !important;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.4rem !important;
    }
}

h2 {
    font-size: 1.0rem !important;
    font-weight: bold !important;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2rem !important;
    }
    nav.sidebar > h2 {
        font-size: 1.2rem !important;
        margin-bottom: 0;
    }
}

h3 {
    margin-top: 0.5rem !important;
    font-size: 1.3rem !important;
}

pre {
    color: rgb(255, 255, 255);
}

.hitbox-table td, .hitbox-table th {
    border-color: #FFFFFF;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.hitbox-table td canvas {
    vertical-align: middle;
}

.hitbox-table-id-0 {
    color: #EF6400;
}

.hitbox-table-id-1 {
    color: #FF0000;
}

.hitbox-table-id-2 {
    color: #FF00FF;
}

.hitbox-table-id-3 {
    color: #18d6c9;
}

.hitbox-table-id-4 {
    color: #24d618;
}

.sidebar {
  z-index: 1000;
  padding: 2px;
  overflow-x: hidden;
}

.sidebar-left {
  border-right: 1px solid #eee;
}

.sidebar-right {
  border-left: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-link {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.hitbox-frame-button {
    color: #FF0000;
    text-decoration-line: none;
}
.iasa-frame-button {
    color: #00FF00;
    text-decoration-line: none;
}
.standard-frame-button {
    color: #FFFFFF;
    text-decoration-line: none;
}
.current-frame-button {
    background-color: rgb(0, 123, 255)
}

/* Spritesheet */
.icon-disable {
	filter: grayscale(100%) brightness(50%);
}

.spritesheet-fighter-ground {
    object-fit: none;
    object-position: 0 0;
    width: 40px;
	height: 40px;
}

.spritesheet-fighter-air {
    object-fit: none;
    object-position: -40px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-waddle {
    object-fit: none;
    object-position: -80px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-pikmin {
    object-fit: none;
    object-position: -120px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-gyro {
    object-fit: none;
    object-position: -160px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-snake-grenade {
    object-fit: none;
    object-position: -200px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-mr-saturn {
    object-fit: none;
    object-position: -240px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-stage-non-wall-ceiling-floor {
    object-fit: none;
    object-position: -280px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-wall-ceiling-floor {
    object-fit: none;
    object-position: -320px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-link-bomb {
    object-fit: none;
    object-position: -360px 0px;
    width: 40px;
	height: 40px;
}

.spritesheet-bobomb {
    object-fit: none;
    object-position: -400px 0px;
    width: 40px;
	height: 40px;
}
