{{#*inline "page"}}
<div class="container-fluid">
    <div class="row">
        <!-- Display nothing from xs to sm, take up space from md to xl -->
        <div class="d-none d-md-block col-2 sidebar"></div>

        <!-- take up 12 columns from xs to sm, take up 8 columns from md to xl -->
        <div class="col-8 col-md-8">
            <h1>{{title}}</h1>
            <p>We have framedata on the following brawl mods:</p>
            <ul>
                {{#each mod_links}}
                <li>
                    <a href="{{link}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>

            <h2>Discord Bot</h2>
            <p>Click <a href="https://discord.com/api/oauth2/authorize?client_id=554157366916939791&scope=applications.commands%20bot&permissions=18432">here</a> to add the discord bot to your server.</p>
            <h2>Updates</h2>
            <p>Significant updates are usually announced on my <a href="https://twitter.com/thisIsRukai">twitter</a>.</p>
        </div>

        <!-- Display nothing from xs to sm, take up space from md to xl -->
        <div class="col-4 col-md-2 sidebar"></div>
    </div>
</div>


{{/inline}}

{{~> base ~}}
